html,
body {
    height: 100vh;
}

/* Centering everything in the lesson-instructions-container */
.lesson-instructions-container {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    height: max-content;
}

.instructions-container {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    margin-top: 20px;
}

/*.title-container {
    border: 6px solid #ff8800;
    border-radius: 20px;
    margin-bottom: 15px;
}*/

.title-container h1 {
    /*padding: 15px 25px 0px 25px;*/
    font-family: "Nova Square", sans-serif;
    color: #ff8800;
    font-size: 55px;
    line-height: 60px;
}

.instruction-div {
    width: 70%;
    text-align: center;
}

.instruction-div p {
    font-family: "Barlow", sans-serif;
    font-size: 25px;
    line-height: 30px;
}

.horizontal-line {
    width: 80%;
    margin-top: 10px;
}

.mat-divider {
    border-top-color: #ff8800;
    border-top-width: 6px;
}

/* Aligning paragraph and download button vertically */
.content-group {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 0px auto;
    gap: 20px; /* Spacing between paragraph and button */
    align-items: center; /* Center children horizontally */
}

.paragraph-box {
    background-color: #fff880;
    padding: 25px;
    border-radius: 15px; /* Rounded corners */
    margin-left: 75px;
    width: 55%;
}

.paragraph-box h3 {
    font-family: "Barlow", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}

.paragraph-box p {
    font-family: "Barlow", sans-serif;
    font-size: 22px;
    line-height: 25px;
    word-wrap: break-word;
}

.paragraph-box li {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin-left: -10px;
}

.vertical-separator {
    margin: 0px 15px;
    margin-top: 50px;
}

.vertical-separator p {
    font-family: "Barlow", sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.download-section {
    display: flex;
    flex-direction: column; /* Stack children (h3 and button) vertically */
    align-items: center; /* Center them horizontally */
}

.content-group button {
    background-color: #ff8800;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 15px 25px;
    font-family: "Nova Square", sans-serif;
    font-size: 30px;
    cursor: pointer;
    width: 80%;
    margin: 40px 0px auto -90px;
    word-wrap: break-word;
    line-height: 35px;
}

.continue-button button {
    background-color: #ff8800;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 15px 25px;
    font-family: "Nova Square", sans-serif;
    font-size: 30px;
    cursor: pointer;
    width: 90%;
    margin: 10px auto;
    word-wrap: break-word;
    line-height: 35px;
}

.continue-button {
    width: 15%;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative; /* Ensure positioning context for absolute children */
    width: 100%;
}

.exp-nav-start {
    margin: none;
    padding: none;
    display: flex;
    flex-direction: row;
}

.lesson-nav-start {
    margin: none;
    padding: none;
    display: flex;
    flex-direction: row;
}

.navigation-container button {
    background-color: #ff8800;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 40px;
    cursor: pointer;
    transform: translateY(20%);
    margin: 10px 0;
}
