<div class="lesson-instructions-container">
    <div class="navigation-container">
        <div
            *ngIf="!startNavigationFromExperiences; else alt_nav"
            class="lesson-nav-start"
        >
            <app-dot-navigation></app-dot-navigation>
            <button routerLink="/lesson" title="Go to next page">
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>
        <div class="exp-nav-start">
            <ng-template #alt_nav>
                <button routerLink="/experience" title="Go to previous page">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <app-dot-navigation></app-dot-navigation>
                <button routerLink="/lesson" title="Go to next page">
                    <i class="fas fa-arrow-right"></i>
                </button>
            </ng-template>
        </div>
    </div>

    <div class="instructions-container">
        <div class="title-container"><h1>Create Lesson Plan</h1></div>

        <div class="instruction-div">
            <p>
                Create a lesson plan to start. Make sure that your lesson plan
                adheres to the requirements below. You can alternatively
                download a lesson plan template to fill in.
            </p>
        </div>

        <div class="horizontal-line"><mat-divider></mat-divider></div>

        <div class="content-group">
            <div class="paragraph-box">
                <h3>Requirements for Lesson Plan Structure</h3>
                <p>
                    The lesson plan needs to contain exactly the following
                    subtitles:
                </p>
                <ul>
                    <li>Grade</li>
                    <li>Subject</li>
                    <li>Duration</li>
                    <li>Lesson Standards & Objectives</li>
                    <li>Materials</li>
                    <li>Warm-Up</li>
                    <li>Teacher-Led Instruction</li>
                    <li>Student-Led Learning</li>
                    <li>Wrap-Up Closure</li>
                </ul>
            </div>

            <div class="vertical-separator">
                <p>OR</p>
            </div>

            <div class="download-section">
                <button (click)="downloadFile()">
                    Download Lesson Plan Template
                </button>
            </div>
        </div>
    </div>

    <div class="continue-button">
        <button routerLink="/lesson">Continue</button>
    </div>
</div>
