<div class="lesson-container">
    <div class="navigation-container">
        <div
            *ngIf="!startNavigationFromExperiences; else alt_nav"
            class="lesson-nav-start"
        >
            <button routerLink="/instructions" title="Go to previous page">
                <i class="fas fa-arrow-left"></i>
            </button>
            <app-dot-navigation></app-dot-navigation>
            <button routerLink="/experience" title="Go to next page">
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>
        <div class="exp-nav-start">
            <ng-template #alt_nav>
                <button routerLink="/instructions" title="Go to previous page">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <app-dot-navigation></app-dot-navigation>
                <button routerLink="/display" title="Go to next page">
                    <i class="fas fa-arrow-right"></i>
                </button>
            </ng-template>
        </div>
    </div>

    <div class="upload-file-container">
        <div class="title-container"><h1>Upload Lesson Plan</h1></div>

        <p>Upload your lesson plan from the previous step below.</p>

        <div class="horizontal-line"><mat-divider></mat-divider></div>

        <!-- Main Topic Dropdown -->
        <select
            [(ngModel)]="selectedMainTopic"
            class="dropdown-select"
            (click)="onMainTopicDropdownClick()"
        >
            <option value="" disabled style="font-family: 'Barlow', sans-serif">
                Select a science unit
            </option>
            <option
                *ngFor="let mainTopic of mainTopics"
                [value]="mainTopic"
                style="font-family: 'Barlow', sans-serif"
            >
                {{ mainTopic }}
            </option>
        </select>

        <!-- Sub-Topic Dropdown -->
        <!-- <select
            [(ngModel)]="selectedSubTopic"
            class="dropdown-select"
            (click)="onSubTopicDropdownClick()"
        >
            <option value="" disabled>Select a sub-topic</option>
            <option
                *ngFor="let subTopic of subTopics[selectedMainTopic]"
                [value]="subTopic"
            >
                {{ subTopic }}
            </option>
        </select> -->

        <!-- File Upload -->
        <!-- <label class="file-input-label">
            {{ labelText }}
            <input type="file" (change)="onFileSelected($event)" />
        </label> -->

        <!-- <input
            (change)="onFileSelected($event)"
            class="form-control"
            type="file"
            id="formFile"
        /> -->

        <div class="file-input">
            <input
                class="choose-file"
                type="text"
                placeholder="{{ labelText }}"
                disabled
            />
            <label class="file-label">
                Browse Files...
                <input type="file" (change)="onFileSelected($event)" />
            </label>
        </div>

        <div class="upload-button">
            <button (click)="onUpload()">Upload</button>
        </div>
    </div>
</div>
