<div class="lesson-container">
    <h3>Upload your lesson plan below</h3>

    <!-- Main Topic Dropdown -->
    <mat-form-field appearance="outline" [style.width.px]="300">
        <mat-label>Select a science unit</mat-label>
        <mat-select [(ngModel)]="selectedMainTopic">
            <mat-option
                *ngFor="let mainTopic of mainTopics"
                [value]="mainTopic"
            >
                {{ mainTopic }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Sub-Topic Dropdown -->
    <mat-form-field appearance="outline" [style.width.px]="300">
        <mat-label>Select a sub-topic</mat-label>
        <mat-select [(ngModel)]="selectedSubTopic">
            <mat-option
                *ngFor="let subTopic of subTopics[selectedMainTopic]"
                [value]="subTopic"
            >
                {{ subTopic }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="upload-box">
        <label class="file-input-label">
            {{ labelText }}
            <input type="file" (change)="onFileSelected($event)" />
        </label>
        <button (click)="onUpload()">Upload</button>
    </div>

    <!-- <div class="upload-status">
        <p>{{ uploadStatus }}</p>
        <mat-progress-bar
            *ngIf="uploadProgress !== null"
            mode="determinate"
            [value]="uploadProgress"
        >
        </mat-progress-bar>
    </div> -->

    <div class="instruction-div">
        <p>
            Create a lesson plan to start. Make sure that your lesson plan
            adheres to the requirements below. You can alternatively download a
            lesson plan template to fill in.
        </p>
    </div>

    <div class="horizontal-line"><mat-divider></mat-divider></div>

    <div class="content-group">
        <div class="paragraph-box">
            <h3>Requirements for Lesson Plan Structure</h3>
            <p>
                The lesson plan needs to contain explicitly at least the
                following subtitles:
            </p>
            <ul>
                <li>Grade</li>
                <li>Subject</li>
                <li>Duration</li>
                <li>Lesson Standards & Objectives</li>
                <li>Materials</li>
                <li>Warm-Up</li>
                <li>Teacher-Led Instruction</li>
                <li>Student-Led Learning</li>
                <li>Wrap-Up/Closure</li>
            </ul>
        </div>

        <div style="margin: 0px 20px">
            <p style="font-weight: bolder; font-size: 50px">OR</p>
        </div>

        <div class="download-section">
            <h3 style="margin-bottom: 0px">Download</h3>
            <!-- <a href="lesson-plan-template.pdf" download="lesson-plan-template"> -->
            <button
                style="margin: 0px"
                href="lesson-plan-template.pdf"
                download="lesson-plan-template"
            >
                Lesson Plan Template
            </button>
            <!-- </a> -->
        </div>
    </div>
</div>
