/* This ensures that the entire view height is occupied by the lesson-container */
html, body {
    height: 100vh;
}

button {
    background-color: #47141C;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: max-content;
    margin: 10px auto;
}

/* Centering everything in the lesson-container */
.lesson-container {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center;    /* Center children horizontally */
    justify-content: center;/* Center children vertically */
    height: 80vh;
}

/* Add styles to the dropdowns */
.dropdown-select {
    padding: 8px 12px;    /* padding around the dropdown */
    margin: 8px 0;       /* margin above and below the dropdown */
    width: 300px;  /* make the width adjust to its content */
    font-size: 16px;     /* adjust as per your preference */
    border: 1px solid #ccc;
    border-radius: 4px;  /* gives a slight rounded corner */
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
  }
  
/* Style for the file upload box */
.upload-box {
    background-color: #eee;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px; /* rounded corners */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    gap: 20px; /* Spacing between input and button */
    align-items: center; /* Center children horizontally */
}

.upload-box button:hover {
    background-color: #47141C;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    width: max-content;
    margin: 10px auto;
}

.upload-status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instruction-div {
    width: 75%;
    margin-top: 25px;
    font-size: 15px;
}

.horizontal-line {
    width: 90%;
    margin-top: 15px;
}

.mat-divider {
    border-top-color: #47141C;
    border-top-width: 5px;
}

.file-input-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; /* Adjust this for padding around the label text */
    background-color: #f3f3f3; /* Slight gray background for visual feedback */
    border-radius: 5px;
    cursor: pointer;
}

.file-input-label input[type="file"] {
    display: none; /* Hide the default input */
}

.upload-status {
    margin-top: 20px;
    width: 100%;
}

.download-view {
    display: flex;
    flex-direction: column;   /* Stack children (h3 and button) vertically */
    align-items: center;      /* Center them horizontally */
}

/* Aligning paragraph and download button vertically */
.content-group {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 10px;
    gap: 20px; /* Spacing between paragraph and button */
    align-items: center; /* Center children horizontally */
}

.paragraph-box {
    background-color: #FAB9A1;
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
}

.download-section {
    display: flex;
    flex-direction: column;   /* Stack children (h3 and button) vertically */
    align-items: center;      /* Center them horizontally */
}