/* This ensures that the entire view height is occupied by the lesson-container */
html,
body {
    height: 100vh;
}

/* Centering everything in the lesson-container */
.lesson-container {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    height: max-content;
}

.upload-file-container {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    margin-top: 25px;
}

/*.title-container {
    border: 6px solid #ff8800;
    border-radius: 20px;
    margin-bottom: 20px;
}*/

.title-container h1 {
    /*padding: 15px 25px 0px 25px;*/
    font-family: "Nova Square", sans-serif;
    color: #ff8800;
    font-size: 55px;
    line-height: 60px;
}

.upload-file-container p {
    font-family: "Barlow", sans-serif;
    font-size: 25px;
}

.horizontal-line {
    width: 205%;
    margin-top: 10px;
}

.mat-divider {
    border-top-color: #ff8800;
    border-top-width: 6px;
}

.dropdown-select {
    background-color: #d9d9d9;
    border: 2px solid #787878;
    border-radius: 20px;
    margin: 25px auto;
    width: 600px;
    height: 50px;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    padding: 10px 15px;
}

/*.file-input-label {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #D9D9D9;
    border: 2px solid #787878;
    border-radius: 10px;
    cursor: pointer;
    width: 600px;
    height: 60px;
    margin-bottom: 25px;
	font-family: "Barlow", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 15px;
}*/

/*.file-input-label input[type="file"] {
    display: none;
}*/

/*input {
    margin-bottom: 25px;
	font-family: "Barlow", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    background-color: #E2DEDC;
    border: 2px solid #4F4643;
    border-radius: 20px;
}*/

/*input[type="text"][disabled] {
    color: #000000;
	font-family: "Barlow", sans-serif;
    font-size: 20px;
    font-weight: 400;
}*/

.choose-file {
    background-color: #e2dedc;
    border: 2px solid #4f4643;
    border-radius: 20px;
    cursor: pointer;
    width: 400px;
    height: 50px;
    margin-bottom: 25px;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    padding: 10px 15px;
}

.file-label {
    text-align: center;
    background-color: #ff8800;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 15px 15px;
    font-family: "Nova Square", sans-serif;
    font-size: 20px;
    cursor: pointer;
    width: 200px;
    height: 50px;
}

.file-label input[type="file"] {
    display: none; /* Hide the default input */
}

.upload-button button {
    background-color: #ff8800;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 15px 25px;
    font-family: "Nova Square", sans-serif;
    font-size: 30px;
    cursor: pointer;
    word-wrap: break-word;
    line-height: 35px;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative; /* Ensure positioning context for absolute children */
    width: 100%;
}

.exp-nav-start {
    margin: none;
    padding: none;
    display: flex;
    flex-direction: row;
}

.lesson-nav-start {
    margin: none;
    padding: none;
    display: flex;
    flex-direction: row;
}

.navigation-container button {
    background-color: #ff8800;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 40px;
    cursor: pointer;
    transform: translateY(20%); /* Center vertically */
}
