/*.mat-dialog-title {
	font-family: "Nova Square", sans-serif;
	font-size: 35px;
	line-height: 40px;
}*/

/*.mat-dialog-content {
	font-family: "Barlow", sans-serif;
	font-size: 25px;
	line-height: 30px;
}*/

/* Center aligning the buttons */
/*.mat-dialog-actions {
	align-items: center;
    justify-content: center;
}*/

/* No Button Styling */
/*button[mat-button]:not([mat-dialog-close="true"]) {
    background-color: #FF8800;
	border-radius: 15px;
    color: #FFFFFF;
    padding: 10px;
    margin: 5px;
	font-family: "Nova Square", sans-serif;
    font-size: 25px;
	line-height: 30px;
}*/

/*button[mat-button]:not([mat-dialog-close="true"]):hover {
    background-color: #FF8800;
}*/

/*.mat-dialog-container {
    border: 1px solid #888888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}*/
