<div class="experiences-container">
    <!-- DO NOT DELETE! -->
    <!-- <div class="page-header-container">
        <div>
            <button
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#addExperienceModal"
            >
                Create a new experience
            </button>

            <div class="upload-csv-file mb-3">
                <label class="file-input-label">
                    {{ experienceLabelText }}
                    <input
                        type="file"
                        class="form-control"
                        (change)="onExperienceFileSelect($event)"
                    />
                </label>
                <button (click)="onExperienceFileUpload()">Upload</button>
            </div>
        </div>
        <div>
            <div class="upload-csv-file mb-3">
                <label class="file-input-label">
                    {{ studentLabelText }}
                    <input
                        type="file"
                        class="form-control"
                        (change)="onStudentFileSelect($event)"
                    />
                </label>
                <button (click)="onStudentFileUpload()">Upload</button>
            </div>
        </div>
    </div> -->
    <!-- DO NOT DELETE! -->

    <app-dot-navigation></app-dot-navigation>

    <div class="parent-container flex-parent">
        <div class="exp-display-container flex-child">
            <p style="font-size: 25px; text-align: left; margin-bottom: 25px">
                Select students' experiences to integrate into your lesson plan.
            </p>
            <div
                style="margin-bottom: 15px"
                *ngFor="let experience of experiences"
            >
                <div class="card card-body">
                    <div class="card-text-body">
                        <div class="experience-data">
                            <h3>{{ experience.experience_title }}</h3>
                            <p>
                                {{ experience.experience_description }}
                            </p>
                        </div>
                        <div class="experience-details">
                            <div class="student-name">
                                <!-- <div class="flex align-self-stretch">
                                    <i class="bi bi-person"></i>
                                </div> -->
                                <!-- <div class="flex-grow-1 mx-2"> -->
                                <p>
                                    Student:
                                    <a
                                        (click)="
                                            displayStudentData(
                                                $event,
                                                experience
                                            )
                                        "
                                        data-bs-toggle="modal"
                                        data-bs-target="#studentModal"
                                        >{{ experience.student_name }}</a
                                    >
                                </p>
                                <!-- </div> -->
                            </div>
                            <div class="date-uploaded">
                                <!-- <div class="flex align-self-stretch">
                                    <i class="bi bi-calendar3"></i>
                                </div> -->
                                <!-- <div class="flex-grow-1 mx-2"> -->
                                <p>Date: {{ experience.date | date }}</p>
                                <!-- </div> -->
                            </div>
                        </div>
                        <!-- <div class="d-flex justify-content-center">
                            <button
                                class="me-4"
                                data-bs-toggle="modal"
                                data-bs-target="#editExperienceModal"
                                (click)="getExperienceDetails(experience)"
                            >
                                Edit experience
                            </button>
                            <button
                                class="mx-4"
                                (click)="deleteExperience(experience)"
                            >
                                Delete experience
                            </button>
                            <button
                                class="ms-4"
                                (click)="integrateExperience(experience)"
                            >
                                Integrate experience
                            </button>
                        </div> -->
                    </div>
                    <div class="card-checkbox">
                        <span
                            class="checkbox"
                            (click)="addRemoveMultipleExp(experience)"
                            [attr.data-checked]="
                                checkCandidacy(experience) ? true : false
                            "
                        ></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3 options-container flex-child">
            <div class="search-student">
                <mat-form-field appearance="outline" class="search-student">
                    <mat-label>Search student</mat-label>
                    <input
                        matInput
                        type="text"
                        class="form-control"
                        [(ngModel)]="studentSearchTerm"
                        (input)="filterExperiencesByStudent()"
                        (click)="onFilterByStudentClick()"
                    />
                </mat-form-field>
                <!-- <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="studentSearchTerm"
                    (input)="filterExperiencesByStudent()"
                    (click)="onFilterByStudentClick()"
                    placeholder="Search student name"
                /> -->
            </div>

            <div class="search-keyword">
                <mat-form-field appearance="outline" class="search-keyword">
                    <mat-label>Search experience</mat-label>
                    <input
                        type="text"
                        matInput
                        class="form-control"
                        [(ngModel)]="keywordSearchTerm"
                        (input)="filterExperiencesByKeyword()"
                        (click)="onFilterByKeywordClick()"
                    />
                </mat-form-field>
                <!-- <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="keywordSearchTerm"
                    (input)="filterExperiencesByKeyword()"
                    (click)="onFilterByKeywordClick()"
                    placeholder="Search keyword"
                /> -->
            </div>

            <div class="search-date">
                <mat-form-field appearance="outline" class="search-date">
                    <mat-label>Search date</mat-label>
                    <input
                        matInput
                        class="form-control"
                        id="date-filter"
                        [matDatepicker]="picker"
                        [(ngModel)]="dateSearchTerm"
                        (dateInput)="filterExperiencesByDate()"
                        (click)="onFilterByDateClick()"
                    />
                    <mat-datepicker-toggle
                        matIconSuffix
                        [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <!-- <input
                    type="date"
                    class="form-control"
                    [(ngModel)]="dateSearchTerm"
                    (input)="filterExperiencesByDate()"
                    (click)="onFilterByDateClick()"
                    placeholder="Search date"
                /> -->
            </div>

            <div>
                <mat-form-field appearance="outline" class="search-date-range">
                    <mat-label>Search date range</mat-label>
                    <mat-date-range-input [rangePicker]="rangePicker">
                        <input
                            matStartDate
                            placeholder="Start date"
                            [(ngModel)]="startDateSearchTerm"
                            (click)="onFilterByDateRangeClick()"
                        />
                        <input
                            matEndDate
                            placeholder="End date"
                            [(ngModel)]="endDateSearchTerm"
                            (click)="onFilterByDateRangeClick()"
                            (dateInput)="filterExperiencesByDateRange()"
                        />
                    </mat-date-range-input>
                    <mat-datepicker-toggle
                        matIconSuffix
                        [for]="rangePicker"
                    ></mat-datepicker-toggle>
                    <mat-date-range-picker #rangePicker></mat-date-range-picker>
                </mat-form-field>
            </div>

            <div class="search-student-gender">
                <mat-form-field
                    appearance="outline"
                    class="search-student-gender"
                >
                    <mat-label>Search student gender</mat-label>
                    <mat-select
                        (valueChange)="filterExperiencesByStudentGender($event)"
                        multiple
                    >
                        <mat-option value="female">Female</mat-option>
                        <mat-option value="male">Male</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <select
                    class="form-select"
                    (change)="filterExperiencesByStudentGender($event)"
                    multiple
                >
                    <option value="" disabled selected>
                        Search student gender
                    </option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </select> -->
            </div>

            <div class="search-student-last-test-grade">
                <mat-form-field
                    appearance="outline"
                    class="search-student-last-test-grade"
                >
                    <mat-label>Search student last test grade</mat-label>
                    <mat-select
                        (valueChange)="
                            filterExperiencesByStudentLastTestGrade($event)
                        "
                        multiple
                    >
                        <mat-option value="gradeA">A</mat-option>
                        <mat-option value="gradeB">B</mat-option>
                        <mat-option value="gradeC">C</mat-option>
                        <mat-option value="gradeD">D</mat-option>
                        <mat-option value="gradeF">F</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="search-student-table">
                <mat-form-field
                    appearance="outline"
                    class="search-student-table"
                >
                    <mat-label>Search student table</mat-label>
                    <mat-select
                        (valueChange)="filterExperiencesByStudentTable($event)"
                        multiple
                    >
                        <mat-option value="blue">Blue</mat-option>
                        <mat-option value="green">Green</mat-option>
                        <mat-option value="orange">Orange</mat-option>
                        <mat-option value="pink">Pink</mat-option>
                        <mat-option value="purple">Purple</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="search-student-overall-performance">
                <mat-form-field
                    appearance="outline"
                    class="search-student-overall-performance"
                >
                    <mat-label>Search student overall performance</mat-label>
                    <mat-select
                        (valueChange)="
                            filterExperiencesByStudentOverallPerformance($event)
                        "
                        multiple
                    >
                        <mat-option value="gradeA">A</mat-option>
                        <mat-option value="gradeB">B</mat-option>
                        <mat-option value="gradeC">C</mat-option>
                        <mat-option value="gradeD">D</mat-option>
                        <mat-option value="gradeF">F</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="search-student-learning-disability">
                <mat-form-field
                    appearance="outline"
                    class="search-student-learning-disability"
                >
                    <mat-label>Search student learning disability</mat-label>
                    <mat-select
                        (valueChange)="
                            filterExperiencesByStudentLearningDisability($event)
                        "
                        multiple
                    >
                        <mat-option value="adhd">ADHD</mat-option>
                        <mat-option value="autism">Autism</mat-option>
                        <mat-option value="dyslexia">Dyslexia</mat-option>
                        <mat-option value="dyscalculia">Dyscalculia</mat-option>
                        <mat-option value="none">None Reported</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="search-student-race-ethnicity">
                <mat-form-field
                    appearance="outline"
                    class="search-student-race-ethnicity"
                >
                    <mat-label>Search student race/ethnicity</mat-label>
                    <mat-select
                        (valueChange)="
                            filterExperiencesByStudentRaceOrEthnicity($event)
                        "
                        multiple
                    >
                        <mat-option value="african-american"
                            >African-American</mat-option
                        >
                        <mat-option value="asian">Asian</mat-option>
                        <mat-option value="hispanic">Hispanic</mat-option>
                        <mat-option value="white">White</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="search-student-attendance">
                <mat-form-field
                    appearance="outline"
                    class="search-student-attendance"
                >
                    <mat-label>Search student attendance</mat-label>
                    <mat-select
                        (valueChange)="
                            filterExperiencesByStudentAttendance($event)
                        "
                        multiple
                    >
                        <mat-option value="80-84">80% - 84%</mat-option>
                        <mat-option value="above80">> 80%</mat-option>
                        <mat-option value="85-89">85% - 89%</mat-option>
                        <mat-option value="above85">> 85%</mat-option>
                        <mat-option value="90-94">90% - 94%</mat-option>
                        <mat-option value="above90">> 90%</mat-option>
                        <mat-option value="95-99">95% - 99%</mat-option>
                        <mat-option value="above95">> 95%</mat-option>
                        <mat-option value="100">100%</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="search-student-class-participation">
                <mat-form-field
                    appearance="outline"
                    class="search-student-class-participation"
                >
                    <mat-label>Search student in-class participation</mat-label>
                    <mat-select
                        (valueChange)="
                            filterExperiencesByStudentClassParticipation($event)
                        "
                        multiple
                    >
                        <mat-option value="low">Low</mat-option>
                        <mat-option value="mid">Mid</mat-option>
                        <mat-option value="high">High</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="sort-experiences">
                <mat-form-field appearance="outline" class="sort-experiences">
                    <mat-label>Sort By</mat-label>
                    <mat-select (valueChange)="sortExperiences($event)">
                        <mat-option value="timeOldest"
                            >Time (Oldest to Newest)</mat-option
                        >
                        <mat-option value="timeNewest"
                            >Time (Newest to Oldest)</mat-option
                        >
                        <!-- <mat-option value="titleLowest">
                            Title Number (Lowest to Highest)
                        </mat-option>
                        <mat-option value="titleHighest">
                            Title Number (Highest to Lowest)
                        </mat-option>
                        <mat-option value="studentLowest">
                            Student (Lowest to Highest)
                        </mat-option>
                        <mat-option value="studentHighest">
                            Student (Highest to Lowest)
                        </mat-option> -->
                    </mat-select>
                </mat-form-field>
                <!-- <select class="form-select" (change)="sortExperiences($event)">
                    <option value="" disabled selected>Sort By</option>
                    <option value="timeOldest">Time (Oldest to Newest)</option>
                    <option value="timeNewest">Time (Newest to Oldest)</option>
                    <option value="titleLowest">
                        Title Number (Lowest to Highest)
                    </option>
                    <option value="titleHighest">
                        Title Number (Highest to Lowest)
                    </option>
                    <option value="studentLowest">
                        Student (Lowest to Highest)
                    </option>
                    <option value="studentHighest">
                        Student (Highest to Lowest)
                    </option>
                </select> -->
            </div>

            <div>
                <button
                    class="integrate-all-button"
                    *ngIf="!this.startNavigationFromExperiences"
                    (click)="integrateMultipleExp()"
                >
                    Integrate all selected
                </button>
                <button
                    class="integrate-all-alt-button"
                    *ngIf="this.startNavigationFromExperiences"
                    (click)="integrateMultipleExp()"
                >
                    Upload lesson plan to Integrate all selected
                </button>
            </div>
        </div>
    </div>

    <!-- Student modal -->
    <div
        class="modal fade"
        id="studentModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">
                        {{ clickedExperience.student_data.student_name }}
                    </h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p class="col">
                            <strong>Gender:</strong>
                            {{ clickedExperience.student_data.student_gender }}
                        </p>
                        <p class="col">
                            <strong>Race/Ethnicity:</strong>
                            {{
                                clickedExperience.student_data
                                    .student_race_ethnicity
                            }}
                        </p>
                    </div>
                    <div class="row">
                        <p class="col">
                            <strong>Last Test Grade:</strong>
                            {{
                                clickedExperience.student_data
                                    .student_last_test_grade
                            }}
                        </p>
                        <p class="col">
                            <strong>Overall Performance:</strong>
                            {{
                                clickedExperience.student_data
                                    .student_overall_performance
                            }}
                        </p>
                    </div>
                    <div class="row">
                        <p class="col">
                            <strong>Attendance:</strong>
                            {{
                                clickedExperience.student_data
                                    .student_attendance
                            }}
                        </p>
                        <p class="col">
                            <strong>In Class Participation:</strong>
                            {{
                                clickedExperience.student_data
                                    .student_class_participation
                            }}
                        </p>
                    </div>
                    <div class="row">
                        <p class="col">
                            <strong>Table:</strong>
                            {{ clickedExperience.student_data.student_table }}
                        </p>
                        <p class="col">
                            <strong>Learning Disability:</strong>
                            {{
                                clickedExperience.student_data
                                    .student_learning_disability
                            }}
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add experience modal -->
    <!-- <div
        class="modal fade"
        id="addExperienceModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">
                        New experience
                    </h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="experienceForm">
                        <div class="row">
                            <mat-form-field appearance="outline">
                                <mat-label
                                    for="experience-title"
                                    class="col-form-label"
                                    >Experience Title:</mat-label
                                >
                                <input
                                    matInput
                                    type="text"
                                    class="form-control"
                                    id="experience-title"
                                    formControlName="title"
                                />
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field appearance="outline">
                                <mat-label
                                    for="experience-description"
                                    class="form-label"
                                    >Experience Description:</mat-label
                                >
                                <textarea
                                    matInput
                                    class="form-control"
                                    id="experience-description"
                                    formControlName="description"
                                ></textarea>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field appearance="outline">
                                <mat-label
                                    for="contributed-by"
                                    class="col-form-label"
                                    >Contributed By:</mat-label
                                >
                                <input
                                    matInput
                                    type="text"
                                    class="form-control"
                                    id="contributed-by"
                                    formControlName="student_name"
                                />
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field appearance="outline">
                                <mat-label for="date" class="col-form-label"
                                    >Date:</mat-label
                                >
                                <input
                                    matInput
                                    formControlName="date"
                                    id="date"
                                    [matDatepicker]="releasedAtPicker"
                                    (click)="releasedAtPicker.open()"
                                />
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="releasedAtPicker"
                                    [disabled]="false"
                                ></mat-datepicker-toggle>
                                <mat-datepicker
                                    #releasedAtPicker
                                    [disabled]="false"
                                ></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <button
                        type="button"
                        (click)="addExperience()"
                        [disabled]="experienceForm.invalid"
                    >
                        Add experience
                    </button>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Edit experience modal -->
    <!-- <div
        class="modal fade"
        id="editExperienceModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">
                        Update experience
                    </h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editForm">
                        <div class="row">
                            <mat-form-field appearance="outline">
                                <mat-label
                                    for="edit-experience-title"
                                    class="col-form-label"
                                    >Experience Title:</mat-label
                                >
                                <input
                                    matInput
                                    type="text"
                                    class="form-control"
                                    id="edit-experience-title"
                                    formControlName="edited_title"
                                    [value]="
                                        experienceDetails?.experience_title
                                    "
                                />
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field appearance="outline">
                                <mat-label
                                    for="edit-experience-description"
                                    class="form-label"
                                    >Experience Description:</mat-label
                                >
                                <textarea
                                    matInput
                                    class="form-control"
                                    id="edit-experience-description"
                                    formControlName="edited_description"
                                    [value]="
                                        experienceDetails?.experience_description
                                    "
                                ></textarea>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field appearance="outline">
                                <mat-label
                                    for="edit-contributed-by"
                                    class="col-form-label"
                                    >Contributed By:</mat-label
                                >
                                <input
                                    matInput
                                    type="text"
                                    class="form-control"
                                    id="edit-contributed-by"
                                    formControlName="edited_student_name"
                                    [value]="experienceDetails?.student_name"
                                />
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field appearance="outline">
                                <mat-label
                                    for="edit-date"
                                    class="col-form-label"
                                    >Date:</mat-label
                                >
                                <input
                                    matInput
                                    formControlName="edited_date"
                                    class="form-control"
                                    id="edit-date"
                                    [value]="
                                        experienceDetails?.date
                                            | date : 'yyyy-MM-dd'
                                    "
                                    [matDatepicker]="updateReleasedAtPicker"
                                    (click)="updateReleasedAtPicker.open()"
                                />
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="updateReleasedAtPicker"
                                    [disabled]="false"
                                ></mat-datepicker-toggle>
                                <mat-datepicker
                                    #updateReleasedAtPicker
                                    [disabled]="false"
                                ></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <button
                        type="button"
                        (click)="updateExperience(experienceDetails)"
                        [disabled]="editForm.invalid"
                    >
                        Update experience
                    </button>
                </div>
            </div>
        </div>
    </div> -->
</div>
