html, body {
    height: 100vh;
}

.experiences-container {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center;    /* Center children horizontally */
    justify-content: center;/* Center children vertically */
    height: max-content;
    margin-left: 30px;
}

.page-header-container {
    margin: 20px;
}

.upload-csv-file {
    max-width: fit-content;
    background-color: #EEE;
    padding: 20px;
    gap: 20px; /* Spacing between input and button */
    border-radius: 10px; /* rounded corners */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center;
}

.upload-csv-file button:hover {
    background-color: #47141C;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    width: max-content;
    margin: 10px auto;
}

.file-input-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; /* Adjust this for padding around the label text */
    background-color: #F3F3F3; /* Slight gray background for visual feedback */
    border-radius: 5px;
    cursor: pointer;
}

.file-input-label input[type="file"] {
    display: none; /* Hide the default input */
}

.parent-container {
    display: flex;
    margin: 20px;
    margin-top: 40px;
}
  
.exp-display-container {
    padding: 10px 20px 0px 0px;
    width: 75%;
    /* flex: 1; */
}

.exp-display-container p {
    font-size: 22px;
    word-wrap: break-word;
    line-height: 28px;
}

.exp-display-container h3 {
    font-size: 25px;
    font-weight: 600;
}

.card.card-body {
    background-color: #FAB9A1;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.card-text-body {
    width: 95%;
}

.experience-data {
    padding: 20px 20px 0px 20px;
}

.experience-details {
    background-color: #7F7F7F;
    display: flex;
    flex-direction: row;
}

.student-name {
    width: 66%;
    border: 2px solid #000000;
    text-align: left;
}

.student-name p a {
    color: #0000FF;
    font-size: 22px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.student-name p:hover {
    cursor: pointer;
}

.date-uploaded {
    width: 34%;
    border: 2px solid #000000;
    text-align: right;
}

.student-name p {
    color: #FFFFFF;
    padding-left: 20px;
    padding-top: 10px;
}

.modal-header h1 {
    font-size: 25px;
    font-weight: bold;
}

.modal-body p {
    font-size: 20px;   
}

.modal-footer .button {
    font-size: 20px;
}

.date-uploaded p {
    color: #FFFFFF;
    padding-right: 20px;
    padding-top: 10px;
}

.card-checkbox {
    width: 5%;
    background-color: #404040;
}

.checkbox {
    background-color: #FFFFFF;
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 2px solid;
    cursor: pointer;
    margin: 20px 25%;
}

.checkbox:after {
    position: absolute;
    width: 100%;
    line-height: 100%;
    font-size: 25px;
    text-align: center;
}

.checkbox[data-checked="true"]:after {
    content: "✓";
}

.options-container {
    margin-top: 50px;
    padding: 20px;
    width: 25%;
    /* flex: 1; */
}

/* .search-student input, .search-keyword input, .search-date input, .search-student-gender select, .sort-experiences select {
    background-color: #D9D9D9;
    border: 2px solid #787878;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 15px;
} */

.search-student, .search-keyword, .search-date, .search-date-range, .search-student-gender,
.search-student-last-test-grade, .search-student-table, .search-student-overall-performance,
.search-student-learning-disability, .search-student-race-ethnicity, .search-student-attendance,
.search-student-class-participation, .sort-experiences {
    /* background-color: #D9D9D9; */
    /* border-radius: 5px; */
    /* margin-bottom: 20px; */
    width: 100%;
    /* height: 55px; */
}

.integrate-all-button {
    background-color: #47141C;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 20px 25px;
    font-size: 25px;
    cursor: pointer;
    width: max-content;
    line-height: 25px;
    word-wrap: break-word;
    margin: 0px 30px;
}

.integrate-all-alt-button {
    background-color: #47141C;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 20px 25px;
    font-size: 25px;
    cursor: pointer;
    width: 90%;
    line-height: 30px;
    word-wrap: break-word;
    margin: 0px 25px;
}

button {
    background-color: #47141C;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    width: max-content;
    margin: 10px auto;
}

::ng-deep .cdk-overlay-container {
    z-index: 2000;
}