<div class="parent-container">
    <div class="text-container">
        <h1>About Contextualizer</h1>
        <p>
            <span style="font-weight: bold">Contextualizer</span> is a website
            developed by a research team at the University of Florida.
        </p>
        <p>
            Members of the research/development team: Aakash Naik, Yash Goel,
            Abhishek Kulkarni, Sharon Lynn Chu.
        </p>
        <p>
            Contextualizer is part of a larger project funded by the National
            Science Foundation under grant #1942937
            <span style="font-style: italic"
                >Bridging Formal and Everyday Learning through Wearable
                Technologies: Towards a Connected Learning Paradigm</span
            >.
        </p>
        <p>
            For more info, contact Dr. Sharon Lynn Chu at
            <a href="mailto: slchu@ufl.edu">slchu@ufl.edu</a>.
        </p>
    </div>

    <div class="images-container">
        <img src="../../assets/UFLogo.png" alt="University of Florida Logo" />
        <img src="../../assets/ELXLabLogo.png" alt="ELX Lab Logo" />
        <img src="../../assets/NSFLogo.png" alt="NSF Logo" />
    </div>
</div>
