<nav>
    <div class="nav-wrapper">
        <div class="logo" style="opacity: 0; width: 25%">
            <a class="logo-image">
                <img
                    src="../../assets/WebsiteLogo.png"
                    style="cursor: auto"
                    alt="Website Logo"
                />
            </a>
        </div>

        <!-- Logo on the left -->
        <div class="logo">
            <a class="logo-image" (click)="onLogoClick()">
                <img src="../../assets/WebsiteLogo.png" alt="Website Logo" />
            </a>
        </div>

        <!-- About link on the right -->
        <div class="nav-links">
            <a
                *ngIf="(authService.currentUser | async) !== null"
                (click)="onHomeClick()"
                >Home</a
            >
            <a (click)="onAboutClick()" [class.active]="isAboutActive">About</a>
            <a
                *ngIf="(authService.currentUser | async) !== null"
                (click)="onAccountClick()"
                [class.active]="isAccountActive"
                >Account</a
            >
            <a
                *ngIf="(authService.currentUser | async) !== null"
                (click)="onLogout()"
                >Log Out</a
            >
        </div>
    </div>
</nav>
