<nav>
    <div class="nav-wrapper">
        <div class="logo">
            <a class="logo-image" (click)="onLogoClick()">
                <img src="../../assets/Logo_White.png" alt="Website Logo" />
            </a>
        </div>

        <!-- Nav links on the right -->
        <div class="nav-links">
            <a (click)="onAboutClick()"> About </a>
            <!-- Profile Dropdown -->
            <div
                class="profile-dropdown"
                *ngIf="(authService.currentUser | async) !== null"
            >
                <i
                    class="bi bi-person-circle h1"
                    (click)="toggleDropdown($event)"
                ></i>
                <div class="dropdown-menu" [class.show]="isDropdownOpen">
                    <a (click)="onAccountClick()"> Account </a>
                    <a (click)="onLogout()"> Log Out </a>
                </div>
            </div>
        </div>
    </div>
</nav>
