.page-header-container {
  margin-top: 20px;
  display: flex;
}

.instruction-container {
  padding: 0px 20px;
  width: 75%;
  display: flex;
  align-items: center;
}

.buttons-container {
  padding: 0px 20px;
  flex: 1;
  align-items: center;
}

button {
  background-color: #47141C;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: max-content;
  margin: 10px;
}

.navigate-experiences-container {
  margin-bottom: 10px;
  margin-left: 20px;
}

.finalize-lesson-plan-container {
  margin-left: 20px;
}

.parent-container {
  display: flex;
}

.content-container {
  padding: 20px 20px 0px;
  width: 75%;
  /* flex: 1; */
}

.section {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
}

.section label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.section p, .section ul {
  text-indent: 20px;
  margin-top: 0;
}

.section ul {
  list-style-type: disc;
}

.section ul li {
  margin-bottom: 10px;
}

.exp-container {
  padding: 20px 20px 20px 0px;
  flex: 1;
}

.exp-card {
  background-color: #FAB9A1;
}

.info-div {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #F4F4F4;
  padding: 10px;
  border-radius: 5px;
}

.file-display {
  border: 1px solid #E0E0E0;
}
.editField {
  width: 100%;
  height: 100%; /* or specify a fixed height if preferred */
}
