<div class="finalize-lesson-plan-container">
    <div class="navigation-container">
        <button routerLink="/display" title="Go to previous page">
            <i class="fas fa-arrow-left"></i>
        </button>
        <app-dot-navigation></app-dot-navigation>
    </div>

    <div class="finalize-parent-container">
        <div class="title-container"><h1>Review Lesson Plan</h1></div>

        <div class="instructions-container">
            <p>
                Review your contextualized lesson plan and download it if
                satisfied. If you would like to make further edits, use the
                arrows above to return to prior steps.
            </p>
        </div>

        <div class="horizontal-line"><mat-divider></mat-divider></div>

        <div class="finalize-container">
            <div class="finalize-data-container" id="lessonPlan">
                <div *ngFor="let field of fields">
                    <div class="info">
                        <h3 *ngIf="pdfData[field.key]?.title">
                            {{ pdfData[field.key]?.title }}:
                        </h3>
                        <span
                            *ngFor="
                                let contentData of pdfData[field.key]?.content
                                    .content
                            "
                        >
                            <p>
                                {{ contentData }}
                            </p>
                        </span>
                        <div
                            class="int-exp"
                            *ngIf="
                                pdfData[field.key]?.integrated_experiences
                                    ?.length
                            "
                        >
                            <ul>
                                <ng-container
                                    *ngFor="
                                        let exp of pdfData[field.key]
                                            ?.integrated_experiences
                                    "
                                >
                                    <li *ngIf="exp && exp.trim().length > 0">
                                        {{ exp }}
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                    <div
                        class="info"
                        *ngFor="
                            let key of getAdditionalContainerKeysForField(field)
                        "
                    >
                        <h3>{{ key }}:</h3>
                        <ul>
                            <li
                                *ngFor="
                                    let item of pdfData[field.key][key]?.list
                                "
                                style="font-size: 20px"
                            >
                                {{ item }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="buttons-container">
                <!-- <button (click)="htmlToDOCX()">Download Lesson Plan (as DOCX)</button> -->
                <!-- <button (click)="htmlToPDF()">Download Lesson Plan (as PDF)</button> -->
                <button (click)="htmlToPDF()">
                    <i class="fa-solid fa-download"></i>
                </button>
                <!--<button (click)="onBackClick()">Back</button>-->
                <!--<button (click)="onHomeClick()">Home</button>-->
            </div>
        </div>
    </div>
</div>
