<div class="input-dialog-container">
    <h1 mat-dialog-title>Enter New Section Name</h1>
    <mat-dialog-content class="dialog-content">
        <!--<mat-form-field>-->
        <input matInput type="text" [(ngModel)]="sectionName" />
        <!--</mat-form-field>-->
    </mat-dialog-content>
    <mat-dialog-actions class="dialog-actions">
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button (click)="onConfirmClick()" cdkFocusInitial>
            Confirm
        </button>
    </mat-dialog-actions>
</div>
