<div class="landing-container">
    <div class="title-container"><h1>Main Menu</h1></div>
    <div class="select-classroom">
        <select
            class="dropdown-select"
            (click)="onClassroomDropdownClick()"
            (change)="setClassroom()"
            [(ngModel)]="classroom"
        >
            <option value="" disabled>Select A Classroom</option>
            <option
                *ngFor="let class of allClassrooms"
                [value]="class.slice(10)"
            >
                {{ class.slice(10) }}
            </option>
        </select>
    </div>
    <div class="button-group">
        <button (click)="onExperienceCapturesClick()">
            Create Story Captures
        </button>
        <!--<button (click)="onPersonalizeLessonClick()">Personalize Lesson</button>-->
        <button (click)="onBrowseExperiencesClick()">
            Browse Student Stories
        </button>
    </div>
</div>
