/* This will ensure that the entire view height is occupied by the landing-container */
html, body, .landing-container {
    height: 75%;
}

/* Centering everything in the landing-container */
.landing-container {
    display: flex;
    align-items: center;     /* Center children horizontally */
    justify-content: center; /* Center children vertically */
}

/* Aligning buttons in a column */
.button-group {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spacing between buttons, adjust as needed */
}
.button-group button {
    background-color: #47141C;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 25px 25px;
    font-size: 40px;
    cursor: pointer;
}
