<div class="parent-container">
    <div class="title-container">
        <h1>Create Story Captures</h1>
        <div class="buttons-container">
            <button
                data-bs-toggle="modal"
                data-bs-target="#newCaptureModal"
                (click)="onStartNewCaptureClick()"
            >
                Start New Capture
            </button>
            <!--<button
                data-bs-toggle="modal"
                data-bs-target="#lessonPlanModal"
                (click)="getAllCaptures()"
            >
                Lesson Plans Library
            </button>-->
            <button
                data-bs-toggle="modal"
                data-bs-target="#pastCapturesModal"
                (click)="getPastCaptures()"
            >
                Past Captures
            </button>
            <!--<button
                data-bs-toggle="modal"
                data-bs-target="#futureCapturesModal"
                (click)="getFutureCaptures()"
            >
                Upcoming Captures Library
            </button>-->
        </div>
    </div>

    <h2 class="section-title">Current Capture</h2>
    <div class="data-container">
        <div class="capture-data">
            <span *ngIf="isCaptureActive; else noActiveCapture">
                <div class="current-capture-data">
                    <h1>{{ currCaptureName }}</h1>
                    <p>
                        Capture from
                        {{ currCaptureStartDate | date : "MM/dd/yy" }} to
                        {{ currCaptureEndDate | date : "MM/dd/yy" }}
                    </p>
                    <button
                        (click)="endCurrentCapture()"
                        *ngIf="!showRecentCapture"
                    >
                        End Capture
                    </button>
                </div>
                <div *ngIf="toggleCaptureStories" class="capture-stories">
                    <div
                        style="margin-bottom: 15px"
                        *ngFor="let experience of experiences"
                    >
                        <div class="card card-body">
                            <div class="card-text-body">
                                <div class="experience-data">
                                    <p>
                                        {{ experience.transcript }}
                                    </p>
                                </div>
                                <div class="experience-details">
                                    <div class="student-name">
                                        <p style="font-weight: 600">
                                            {{ experience.name }}
                                        </p>
                                    </div>
                                    <div class="date-uploaded">
                                        <p style="font-weight: 600">
                                            {{
                                                experience.creation_date | date
                                            }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="capture-stories-button">
                    <button (click)="showCaptureStories()">
                        {{ buttonText }} Stories ({{ experiencesLength }})
                    </button>
                </div>
            </span>
            <ng-template #noActiveCapture>
                <div class="no-active-capture">
                    <p>
                        You do not have any current captures. Click "Start New"
                        to begin a new capture.
                    </p>
                </div>
                <div class="recent-capture-data">
                    <button (click)="getMostRecentCapture()">
                        View Most Recent Capture
                    </button>
                </div>
            </ng-template>
        </div>
    </div>

    <h2 class="section-title">Upcoming Captures</h2>
    <div class="data-container">
        <div class="upcoming-captures-container">
            <ng-container
                *ngIf="futureCaptures.length > 0; else noFutureCaptures"
            >
                <div
                    *ngFor="let capture of futureCaptures"
                    class="upcoming-capture-item"
                >
                    <div class="capture-item-info">
                        <div class="capture-item-topic">
                            {{ capture?.capture_name }}
                        </div>
                        <div class="capture-item-prompt">
                            {{ capture?.prompt }}
                        </div>
                    </div>
                    <div class="capture-item-dates">
                        {{ capture?.start_date | date : "MM/dd/yy" }} -
                        {{ capture?.due_date | date : "MM/dd/yy" }}
                    </div>
                    <div class="capture-item-action">
                        <i
                            class="bi bi-pencil-fill"
                            data-bs-toggle="modal"
                            data-bs-target="#editFutureCaptureModal"
                            (click)="editFutureCapture(capture)"
                        ></i>
                    </div>
                </div>
            </ng-container>
            <ng-template #noFutureCaptures>
                <p class="no-captures-text">No upcoming captures scheduled.</p>
            </ng-template>
        </div>
    </div>

    <div
        class="modal fade"
        id="newCaptureModal"
        tabindex="-1"
        aria-labelledby="startNewCapture"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-lg" style="max-width: 700px">
            <div class="modal-content">
                <div class="modal-header">
                    <h1
                        class="modal-title text-center flex-grow-1"
                        id="startNewCapture"
                    >
                        Start New Capture
                    </h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        (click)="onStartNewCaptureXClick()"
                    ></button>
                </div>
                <div class="modal-body">
                    <!--<div class="set-capture-type">
                        <p>Capture Type:</p>
                        <div class="set-capture-data">
                            <div class="capture-radio">
                                <input
                                    type="radio"
                                    name="captureType"
                                    id="specificCapture"
                                    (click)="onCaptureTypeClick()"
                                    [(ngModel)]="specificSelected"
                                    [value]="true"
                                    required
                                />
                                <label for="specificCapture">Specific</label>
                                <i
                                    class="bi bi-info-circle-fill"
                                    style="color: #ff8800"
                                    (mouseenter)="onSpecificCaptureInfoHover()"
                                >
                                    <span class="specific-capture-tooltip-text">
                                        A capture period that gives a specific
                                        topic/concept and a longer prompt to
                                        guide students’ recordings.
                                    </span>
                                </i>
                                <input
                                    type="radio"
                                    name="captureType"
                                    id="generalCapture"
                                    (click)="onCaptureTypeClick()"
                                    [(ngModel)]="specificSelected"
                                    [value]="false"
                                    required
                                />
                                <label for="generalCapture">General</label>
                                <i
                                    class="bi bi-info-circle-fill"
                                    style="color: #ff8800"
                                    (mouseenter)="onGeneralCaptureInfoHover()"
                                >
                                    <span class="general-capture-tooltip-text">
                                        A capture period that has no defined
                                        topic/concept given to students for
                                        recordings. Students can record any
                                        kinds of experiences that they want.
                                    </span>
                                </i>
                            </div>
                        </div>
                    </div>-->
                    <p class="modal-instruction-text">
                        A capture ends at 12:00 AM on the end date (e.g., a
                        capture from the 13th to the 15th includes the 13th and
                        14th). Dates for captures cannot overlap.
                    </p>

                    <div class="set-capture-topic">
                        <p>Topic:</p>
                        <div class="set-capture-topic-data">
                            <div class="specific-capture-input">
                                <input
                                    type="text"
                                    placeholder="Topic Name"
                                    maxlength="40"
                                    [(ngModel)]="specificTopic"
                                    (click)="onSpecificCaptureTopicClick()"
                                    (input)="updateTopicCharacterCounter()"
                                    required
                                />
                            </div>

                            <div class="specific-capture-tooltip">
                                <p>{{ topicCharactersLeft }} characters left</p>
                                <p style="color: #ff6666">required</p>
                            </div>
                        </div>
                    </div>

                    <div class="set-capture-prompt">
                        <p>Prompt:</p>
                        <div class="set-prompt-data">
                            <div class="set-prompt">
                                <input
                                    type="text"
                                    placeholder="Prompt"
                                    maxlength="125"
                                    [(ngModel)]="capturePrompt"
                                    (click)="onPromptClick()"
                                    (input)="updatePromptCharacterCounter()"
                                />
                            </div>

                            <div class="prompt-tooltip">
                                <p>
                                    {{ promptCharactersLeft }} characters left
                                </p>
                                <p style="color: #ff6666">optional</p>
                            </div>
                        </div>
                    </div>

                    <div class="set-capture-date-range">
                        <p>Date:</p>
                        <div class="set-date-range">
                            <input
                                type="date"
                                [(ngModel)]="dateRangeStartDate"
                                (click)="onCaptureDateClick()"
                                (input)="onCaptureStartDateInput()"
                                required
                            />
                            <p>to</p>
                            <input
                                type="date"
                                [(ngModel)]="dateRangeEndDate"
                                (click)="onCaptureDateClick()"
                                (input)="onCaptureEndDateInput()"
                                required
                            />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        data-bs-dismiss="modal"
                        (click)="onStartNewCaptureCloseClick()"
                    >
                        Close
                    </button>
                    <button type="button" (click)="startNewCapture()">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--<div
        class="modal fade"
        id="lessonPlanModal"
        tabindex="-1"
        aria-labelledby="viewLessonPlans"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1
                        class="modal-title text-center flex-grow-1"
                        id="viewLessonPlans"
                    >
                        Lesson Plans
                    </h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        (click)="onLessonPlansXClick()"
                    ></button>
                </div>
                <div class="modal-body" style="overflow-y: auto; height: 75%">
                    <ng-container
                        *ngIf="allCaptures.length > 0; else noCapturesAvailable"
                    >
                        <div class="select-capture">
                            <select
                                class="dropdown-select"
                                (click)="onSelectCaptureDropdownClick()"
                                (change)="selectCapture()"
                                [(ngModel)]="selectedCapture"
                                required
                            >
                                <option value="" disabled>
                                    Select a capture
                                </option>
                                <option
                                    *ngFor="let capture of allCaptures"
                                    [value]="capture.capture"
                                >
                                    {{ capture.name }}
                                    ({{
                                        capture.start_date | date : "MMM dd, YY"
                                    }}
                                    to
                                    {{
                                        capture.due_date | date : "MMM dd, YY"
                                    }})
                                </option>
                            </select>
                        </div>
                        <ng-container
                            *ngIf="
                                selectedCapture.length > 0;
                                else noCapturesSelected
                            "
                        >
                            <ng-container
                                *ngIf="
                                    selectedCaptureLessonPlans.length > 0;
                                    else noLessonPlans
                                "
                            >
                                <table class="lesson-plans-table">
                                    <thead>
                                        <tr>
                                            <th
                                                *ngFor="
                                                    let col of displayedColumnsLessonPlans;
                                                    index as idx
                                                "
                                                (click)="
                                                    sortLessonPlansTable(col)
                                                "
                                            >
                                                <span
                                                    style="
                                                        display: flex;
                                                        flex-direction: row;
                                                    "
                                                >
                                                    {{ col }}
                                                    <i
                                                        class="bi bi-caret-down-fill"
                                                        *ngIf="
                                                            activeSortColumnLessonPlans ===
                                                                idx &&
                                                            columnSortStateLessonPlans[
                                                                idx
                                                            ] === 'desc'
                                                        "
                                                        style="
                                                            transform: scale(
                                                                0.5
                                                            );
                                                        "
                                                    ></i>
                                                    <i
                                                        class="bi bi-caret-up-fill"
                                                        *ngIf="
                                                            activeSortColumnLessonPlans ===
                                                                idx &&
                                                            columnSortStateLessonPlans[
                                                                idx
                                                            ] === 'asc'
                                                        "
                                                        style="
                                                            transform: scale(
                                                                0.5
                                                            );
                                                        "
                                                    ></i>
                                                </span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="
                                                let lessonPlan of selectedCaptureLessonPlans
                                            "
                                        >
                                            <td
                                                style="
                                                    min-width: 5%;
                                                    max-width: 10%;
                                                "
                                            >
                                                {{ lessonPlan?.index + 1 }}
                                            </td>
                                            <td>{{ lessonPlan?.mainTopic }}</td>
                                            <td>
                                                {{
                                                    lessonPlan?.createdAt
                                                        | date : "MMM dd, yyyy"
                                                }}
                                            </td>
                                            <td
                                                style="
                                                    border: none;
                                                    text-align: center;
                                                    background-color: #ffffff !important;
                                                    min-width: 5%;
                                                    max-width: 10%;
                                                "
                                            >
                                                <i
                                                    class="bi bi-file-text-fill"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#viewLessonPlanModal"
                                                    (click)="
                                                        viewLessonPlan(
                                                            lessonPlan
                                                        )
                                                    "
                                                ></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ng-container>
                            <ng-template #noLessonPlans>
                                <p class="no-lesson-plans-text">
                                    There are no lesson plans associated with
                                    this capture.
                                </p>
                            </ng-template>
                        </ng-container>
                        <ng-template #noCapturesSelected>
                            <p class="no-capture-selected-text">
                                Select a capture to view all the lesson plans
                                associated with it.
                            </p>
                        </ng-template>
                    </ng-container>
                    <ng-template #noCapturesAvailable>
                        <p class="no-capture-available-text">
                            There are no captures to show. Create a capture to
                            populate the list.
                        </p>
                    </ng-template>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        data-bs-dismiss="modal"
                        (click)="onLessonPlansCloseClick()"
                    >
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>-->

    <!--<div
        class="modal fade"
        id="viewLessonPlanModal"
        tabindex="-1"
        aria-labelledby="viewLessonPlan"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1
                        class="modal-title text-center flex-grow-1"
                        id="viewLessonPlan"
                    >
                        View Lesson Plan
                    </h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        (click)="onViewLessonPlanXClick()"
                    ></button>
                </div>
                <div class="modal-body" style="margin: 10px 30px 20px 30px">
                    <span *ngIf="lessonPlanData">
                        <h1
                            style="
                                font-family: 'Nova Square', sans-serif;
                                font-size: 30px;
                                line-height: 35px;
                                text-align: center;
                                margin-bottom: 20px;
                            "
                        >
                            Science Topic: {{ lessonPlanData["mainTopic"] }}
                        </h1>
                        <div class="lesson-plan-data-container" id="lessonPlan">
                            <div *ngFor="let field of fields">
                                <div class="info">
                                    <h3
                                        *ngIf="lessonPlanData[field.key]?.title"
                                    >
                                        {{ lessonPlanData[field.key]?.title }}:
                                    </h3>
                                    <span
                                        *ngFor="
                                            let contentData of lessonPlanData[
                                                field.key
                                            ]?.content.content
                                        "
                                    >
                                        <p>
                                            {{ contentData }}
                                        </p>
                                    </span>
                                    <div
                                        class="int-exp"
                                        *ngIf="
                                            lessonPlanData[field.key]
                                                ?.integrated_experiences?.length
                                        "
                                    >
                                        <ul>
                                            <ng-container
                                                *ngFor="
                                                    let exp of lessonPlanData[
                                                        field.key
                                                    ]?.integrated_experiences
                                                "
                                            >
                                                <li
                                                    *ngIf="
                                                        exp &&
                                                        exp.trim().length > 0
                                                    "
                                                >
                                                    {{ exp }}
                                                </li>
                                            </ng-container>
                                        </ul>
                                    </div>
                                </div>
                                <div
                                    class="info"
                                    *ngFor="
                                        let key of getAdditionalContainerKeysForField(
                                            field
                                        )
                                    "
                                >
                                    <h3>{{ key }}:</h3>
                                    <ul>
                                        <li
                                            *ngFor="
                                                let item of lessonPlanData[
                                                    field.key
                                                ][key]?.list
                                            "
                                            style="font-size: 20px"
                                        >
                                            {{ item }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        data-bs-dismiss="modal"
                        (click)="onViewLessonPlanCloseClick()"
                    >
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>-->

    <div
        class="modal fade"
        id="pastCapturesModal"
        tabindex="-1"
        aria-labelledby="viewPastCaptures"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1
                        class="modal-title text-center flex-grow-1"
                        id="viewPastCaptures"
                    >
                        Past Captures
                    </h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        (click)="onPastCapturesXClick()"
                    ></button>
                </div>
                <div class="modal-body" style="overflow-y: auto; height: 75%">
                    <ng-container
                        *ngIf="previousCaptures.length > 0; else noPastCaptures"
                    >
                        <table class="past-captures-table">
                            <thead>
                                <tr>
                                    <th
                                        *ngFor="
                                            let col of displayedColumnsPastCaptures;
                                            index as idx
                                        "
                                        (click)="sortPastCapturesTable(col)"
                                    >
                                        <span
                                            style="
                                                display: flex;
                                                flex-direction: row;
                                            "
                                        >
                                            {{ col }}
                                            <i
                                                class="bi bi-caret-down-fill"
                                                *ngIf="
                                                    activeSortColumnPastCaptures ===
                                                        idx &&
                                                    columnSortStatePastCaptures[
                                                        idx
                                                    ] === 'desc'
                                                "
                                                style="transform: scale(0.5)"
                                            ></i>
                                            <i
                                                class="bi bi-caret-up-fill"
                                                *ngIf="
                                                    activeSortColumnPastCaptures ===
                                                        idx &&
                                                    columnSortStatePastCaptures[
                                                        idx
                                                    ] === 'asc'
                                                "
                                                style="transform: scale(0.5)"
                                            ></i>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let capture of previousCaptures">
                                    <td style="min-width: 5%; max-width: 10%">
                                        {{ capture?.id + 1 }}
                                    </td>
                                    <td>{{ capture?.capture_name }}</td>
                                    <td>{{ capture?.prompt }}</td>
                                    <td>
                                        {{
                                            capture?.start_date
                                                | date : "MMM dd, yyyy"
                                        }}
                                    </td>
                                    <td>
                                        {{
                                            capture?.due_date
                                                | date : "MMM dd, yyyy"
                                        }}
                                    </td>
                                    <td>{{ capture?.count }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-container>
                    <ng-template #noPastCaptures>
                        <p class="no-past-captures-text">
                            There are no past captures to show.
                        </p>
                    </ng-template>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        data-bs-dismiss="modal"
                        (click)="onPastCapturesCloseClick()"
                    >
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--<div
        class="modal fade"
        id="futureCapturesModal"
        tabindex="-1"
        aria-labelledby="viewFutureCaptures"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1
                        class="modal-title text-center flex-grow-1"
                        id="viewFutureCaptures"
                    >
                        Upcoming Captures
                    </h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        (click)="onFutureCapturesXClick()"
                    ></button>
                </div>
                <div class="modal-body" style="overflow-y: auto; height: 75%">
                    <ng-container
                        *ngIf="futureCaptures.length > 0; else noFutureCaptures"
                    >
                        <table class="future-captures-table">
                            <thead>
                                <tr>
                                    <th
                                        *ngFor="
                                            let col of displayedColumnsFutureCaptures;
                                            index as idx
                                        "
                                        (click)="sortFutureCapturesTable(col)"
                                    >
                                        <span
                                            style="
                                                display: flex;
                                                flex-direction: row;
                                            "
                                        >
                                            {{ col }}
                                            <i
                                                class="bi bi-caret-down-fill"
                                                *ngIf="
                                                    activeSortColumnFutureCaptures ===
                                                        idx &&
                                                    columnSortStateFutureCaptures[
                                                        idx
                                                    ] === 'desc'
                                                "
                                                style="transform: scale(0.5)"
                                            ></i>
                                            <i
                                                class="bi bi-caret-up-fill"
                                                *ngIf="
                                                    activeSortColumnFutureCaptures ===
                                                        idx &&
                                                    columnSortStateFutureCaptures[
                                                        idx
                                                    ] === 'asc'
                                                "
                                                style="transform: scale(0.5)"
                                            ></i>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="
                                        let capture of futureCaptures;
                                        index as index
                                    "
                                >
                                    <td style="min-width: 5%; max-width: 10%">
                                        {{ capture?.id + 1 }}
                                    </td>
                                    <td>{{ capture?.capture_name }}</td>
                                    <td>{{ capture?.prompt }}</td>
                                    <td>
                                        {{
                                            capture?.start_date
                                                | date : "MMM dd, yyyy"
                                        }}
                                    </td>
                                    <td>
                                        {{
                                            capture?.due_date
                                                | date : "MMM dd, yyyy"
                                        }}
                                    </td>
                                    <td
                                        style="
                                            border: none;
                                            text-align: center;
                                            background-color: #ffffff !important;
                                            min-width: 5%;
                                            max-width: 10%;
                                        "
                                    >
                                        <i
                                            class="bi bi-pencil-fill"
                                            data-bs-toggle="modal"
                                            data-bs-target="#editFutureCaptureModal"
                                            (click)="editFutureCapture(capture)"
                                        ></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-container>
                    <ng-template #noFutureCaptures>
                        <p class="no-future-captures-text">
                            There are no upcoming captures to show.
                        </p>
                    </ng-template>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        data-bs-dismiss="modal"
                        (click)="onFutureCapturesCloseClick()"
                    >
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>-->

    <div
        class="modal fade"
        id="editFutureCaptureModal"
        tabindex="-1"
        aria-labelledby="editFutureCapture"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-lg" style="max-width: 700px">
            <div class="modal-content">
                <div class="modal-header">
                    <h1
                        class="modal-title text-center flex-grow-1"
                        id="editFutureCapture"
                    >
                        Edit Upcoming Capture
                    </h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        (click)="onEditUpcomingCaptureXClick()"
                    ></button>
                </div>
                <div class="modal-body">
                    <!--<div class="set-capture-type">
                        <p>Capture Type:</p>
                        <div class="set-capture-data">
                            <div class="capture-radio">
                                <input
                                    type="radio"
                                    name="futureCaptureType"
                                    id="specificCapture"
                                    (click)="onFutureCaptureTypeClick()"
                                    [(ngModel)]="futureCaptureSpecificSelected"
                                    [value]="true"
                                    required
                                />
                                <label for="specificCapture">Specific</label>
                                <i
                                    class="bi bi-info-circle-fill"
                                    style="color: #ff8800"
                                    (mouseenter)="onSpecificCaptureInfoHover()"
                                >
                                    <span class="specific-capture-tooltip-text">
                                        A capture period that gives a specific
                                        topic/concept and a longer prompt to
                                        guide students’ recordings.
                                    </span>
                                </i>
                                <input
                                    type="radio"
                                    name="futureCaptureType"
                                    id="generalCapture"
                                    (click)="onFutureCaptureTypeClick()"
                                    [(ngModel)]="futureCaptureSpecificSelected"
                                    [value]="false"
                                    required
                                />
                                <label for="generalCapture">General</label>
                                <i
                                    class="bi bi-info-circle-fill"
                                    style="color: #ff8800"
                                    (mouseenter)="onGeneralCaptureInfoHover()"
                                >
                                    <span class="general-capture-tooltip-text">
                                        A capture period that has no defined
                                        topic/concept given to students for
                                        recordings. Students can record any
                                        kinds of experiences that they want.
                                    </span>
                                </i>
                            </div>
                        </div>
                    </div>-->
                    <p class="modal-instruction-text">
                        A capture ends at 12:00 AM on the end date (e.g., a
                        capture from the 13th to the 15th includes the 13th and
                        14th). Dates for captures cannot overlap.
                    </p>

                    <div class="set-capture-topic">
                        <p>Topic:</p>
                        <div class="set-capture-topic-data">
                            <div class="specific-capture-input">
                                <input
                                    type="text"
                                    placeholder="Topic Name"
                                    maxlength="40"
                                    [(ngModel)]="futureCaptureSpecificTopic"
                                    (click)="
                                        onFutureSpecificCaptureTopicClick()
                                    "
                                    (input)="
                                        updateFutureCaptureTopicCharacterCounter()
                                    "
                                    required
                                />
                            </div>

                            <div class="specific-capture-tooltip">
                                <p>
                                    {{ futureCaptureTopicCharactersLeft }}
                                    characters left
                                </p>
                                <p style="color: #ff6666">required</p>
                            </div>
                        </div>
                    </div>

                    <div class="set-capture-prompt">
                        <p>Prompt:</p>
                        <div class="set-prompt-data">
                            <div class="set-prompt">
                                <input
                                    type="text"
                                    placeholder="Prompt"
                                    maxlength="125"
                                    [(ngModel)]="futureCapturePrompt"
                                    (click)="onFutureCapturePromptClick()"
                                    (input)="
                                        updateFutureCapturePromptCharacterCounter()
                                    "
                                />
                            </div>

                            <div class="prompt-tooltip">
                                <p>
                                    {{ futureCapturePromptCharactersLeft }}
                                    characters left
                                </p>
                                <p style="color: #ff6666">optional</p>
                            </div>
                        </div>
                    </div>

                    <div class="set-capture-date-range">
                        <p>Date:</p>
                        <div class="set-date-range">
                            <input
                                type="date"
                                [(ngModel)]="futureCaptureStartDate"
                                (click)="onFutureCaptureDateClick()"
                                (input)="onFutureCaptureStartDateInput()"
                                required
                            />
                            <p>to</p>
                            <input
                                type="date"
                                [(ngModel)]="futureCaptureEndDate"
                                (click)="onFutureCaptureDateClick()"
                                (input)="onFutureCaptureEndDateInput()"
                                required
                            />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        data-bs-dismiss="modal"
                        (click)="onFutureCaptureCloseClick()"
                    >
                        Close
                    </button>
                    <button
                        type="button"
                        data-bs-dismiss="modal"
                        (click)="saveFutureCaptureEdit()"
                    >
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
