<div class="account-container">
    <h1>Account Settings</h1>
    <p><span style="font-weight: 600">Username:</span> {{ currentUsername }}</p>

    <button (click)="showForm = !showForm">Update Password</button>

    <div class="password-form" *ngIf="showForm">
        <label>Current Password: </label>
        <input type="password" [(ngModel)]="currentPassword" />

        <ul class="password-requirements">
            <li [class.valid]="newPassword && newPassword.length > 8">
                More than 8 characters
            </li>
            <li
                [class.valid]="
                    newPassword && (newPassword | passwordPattern : '[A-Z]')
                "
            >
                At least one uppercase letter
            </li>
            <li
                [class.valid]="
                    newPassword && (newPassword | passwordPattern : '[0-9]')
                "
            >
                At least one number
            </li>
            <li
                [class.valid]="
                    newPassword &&
                    (newPassword | passwordPattern : '[!@#$%^&*]')
                "
            >
                At least one special character
            </li>
        </ul>

        <label> New Password:</label>
        <input type="password" [(ngModel)]="newPassword" />

        <label> Confirm New Password:</label>
        <input
            type="password"
            [(ngModel)]="confirmPassword"
            style="margin-bottom: 10px"
        />
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
        <button (click)="changePassword()">Submit</button>
    </div>
</div>
