<div class="wrapper">
    <div class="text-area">
        <div class="logos">
            <img
                src="../../assets/ELXLabLogo.png"
                alt="ELX Lab Logo"
                style="width: 250px; height: 60px"
            />
            <img src="../../assets/NSFLogo.png" alt="NSF Logo" />
        </div>
        <div class="text">
            <p>
                <span style="font-weight: bold">Contextualizer</span> is a
                lesson planner assistant that helps teachers and instructors
                modify their lesson plans to include life experiences from their
                students.
            </p>
        </div>
    </div>
    <div class="login-form">
        <h1>Register</h1>
        <form (ngSubmit)="register()">
            <input
                type="text"
                [(ngModel)]="username"
                placeholder="username"
                name="username"
                required
            />
            <input
                type="password"
                [(ngModel)]="password"
                placeholder="password"
                name="password"
                required
            />
            <input
                type="password"
                [(ngModel)]="confirmPassword"
                placeholder="confirm password"
                name="confirmPassword"
                required
            />
            <ul>
                <li
                    [class.valid]="password && password.length > 8"
                    style="font-size: 20px; line-height: 25px"
                >
                    More than 8 characters
                </li>
                <li
                    [class.valid]="
                        password && (password | passwordPattern : '[A-Z]')
                    "
                    style="font-size: 20px; line-height: 25px"
                >
                    At least one uppercase letter
                </li>
                <li
                    [class.valid]="
                        password && (password | passwordPattern : '[0-9]')
                    "
                    style="font-size: 20px; line-height: 25px"
                >
                    At least one number
                </li>
                <li
                    [class.valid]="
                        password && (password | passwordPattern : '[!@#$%^&*]')
                    "
                    style="font-size: 20px; line-height: 25px"
                >
                    At least one special character
                </li>
            </ul>
            <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
            <button type="submit">Register</button>
        </form>
    </div>
</div>
