<div class="wrapper">
    <div class="login-form">
        <h1>Register New Account</h1>
        <form (ngSubmit)="register()">
            <label>Username:</label>
            <input
                type="text"
                [(ngModel)]="username"
                name="username"
                required
            />

            <label>Password:</label>
            <input
                type="password"
                [(ngModel)]="password"
                name="password"
                required
            />

            <label>Confirm Password:</label>
            <input
                type="password"
                [(ngModel)]="confirmPassword"
                name="confirmPassword"
                required
            />

            <p>Password must include:</p>
            <ul>
                <li [class.valid]="password && password.length > 8">
                    More than 8 characters
                </li>
                <li
                    [class.valid]="
                        password && (password | passwordPattern : '[A-Z]')
                    "
                >
                    At least one uppercase letter
                </li>
                <li
                    [class.valid]="
                        password && (password | passwordPattern : '[0-9]')
                    "
                >
                    At least one number
                </li>
                <li
                    [class.valid]="
                        password && (password | passwordPattern : '[!@#$%^&*]')
                    "
                >
                    At least one special character
                </li>
            </ul>
            <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
            <button type="submit">Register</button>
        </form>
    </div>
</div>
