body,
html {
    height: 100%;
    margin: 0;
    font-family: "Barlow", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
}

.login-form {
    width: max-content;
    padding: 30px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 6px solid #ff8800;
    border-radius: 20px;
    margin-bottom: 15px;
}

.login-form h1 {
    font-family: "Nova Square", sans-serif;
    color: #ff8800;
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 30px;
}

.login-form label {
    margin-bottom: 20px;
    display: block;
    font-family: "Barlow", sans-serif;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #e2dedc;
    border: 2px solid #3f3734;
    border-radius: 10px;
    font-family: "Barlow", sans-serif;
    font-size: 25px;
}

/*input::placeholder {
    font-style: italic;
}*/

/* For Edge */
/*input::-webkit-input-placeholder {
    font-style: italic;
}*/

/* For Internet Explorer 10-11 */
/*input:-ms-input-placeholder {
    font-style: italic;
}*/

/*input:-moz-placeholder {
    font-style: italic;
}*/

/*input::-moz-placeholder {
    font-style: italic;
}*/

.login-form p {
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    line-height: 25px;
    margin-left: 5px;
}

.login-form li {
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    line-height: 25px;
}

.login-form li.valid {
    color: #90d600;
}

.error-message {
    color: #ff6666;
    margin-top: 10px;
}

.login-form button {
    background-color: #ff8800;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 20px 75px;
    font-family: "Nova Square", sans-serif;
    font-size: 30px;
    line-height: 35px;
    width: 250px;
    cursor: pointer;
    transition: background-color 0.3s;
}
